# IDE or editor specific files:
.idea
*.iml

# Binaries for programs and plug-ins:
perun
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`:
*.test

# Output of the go coverage tool, specifically when used with LiteIDE:
*.out

# Project-local glide cache (https://github.com/Masterminds/glide/issues/736):
.glide/

# Local perun configuration:
.perun
